---
import Layout from "../layouts/Layout.astro"
import ThemeIcon from "../components/ThemeIcon.astro"
--- 
<Layout title="404">

<div>
<h1>
    404
</h1>
</div>
</Layout>

<style>
	body
	{
	 --background-color: rgb(255, 255, 255);
	}
	body.dark {
  	--background-color: #333333;
  	color: #fff;
	}

</style>

<ThemeIcon
>
