---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";
import SideBar from "../components/SideBar.astro";


const auth = getAuth(app);

/* Verificar la sesión actual */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}
---

<Layout title="dashboard">
  <h1>Bienvenido {user.displayName}</h1>
  <p>Nos alegra verte aquí</p>
  <form action="/api/auth/signout">
    <button type="submit">Cerrar sesión</button>
  </form>
</Layout>


<SideBar name={user.displayName} />

<div style="display: flex; justify-content: center; align-items: center; height: 80vh; background-color: #f9f9f9;">
  <form style="max-width: 1200px; width: 80%; padding: 16px; border-radius: 8px; background-color: #ffffff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); height: 80vh;">
    <p style="font-size: 18px; margin-bottom: 8px;">Ingresa tus instrucciones aquí:</p>
    <textarea
      rows="5"
      cols="50"
      maxlength="1000"
      minlength="200"
      placeholder="Escribe tus instrucciones..."
      style="resize: none; font-size: 16px; padding: 8px; width: 100%; border: 1px solid #ccc; border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); height: 65vh;"
    ></textarea>
    <button style="margin-top: 16px; background-color: #007bff; color: white; border: none; border-radius: 4px; padding: 8px 16px; font-size: 16px; cursor: pointer;">
      Enviar
    </button>
  </form>

<style>

body 
{
background-color: #ffffff;
opacity: 1;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 38px ), repeating-linear-gradient( #8fd9ee55, #8fd9ee );
}
</style>