.tarjeta {
  background-color: var(--background-color);
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 2vh rgba(7, 120, 165, 0.1);
  padding: 16px;
  margin: 1vh;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 170vh;
}

.tarjeta:hover {
  background-color: #28a6dcc0;
}
/*
.tit-1:hover{
  color: white;
}
*/


.tarjeta h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 8px;
}

.info-container {
  margin-top: 8px;
  padding: 16px;
  border-radius: 4px;
  background-color: #f7f7f7b4;
}

.info-container p {
  font-size: 14px;
  line-height: 1.5;
}
