---
---
<footer id="foot" class=" rounded-lg shadow dark:bg-gray-900 m-4">
    <div class="w-full max-w-screen-2xl mx-auto p-12 md:py-10 h-28">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="/logo.png" class="h-8" alt="CardioCare Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap ">CARDIOCARE</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Sobre nosotros</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Políticas de Privacidad</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Licencias</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contacto</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="" class="hover:underline">CardioCare™</a>. All Rights Reserved.</span>
    </div>
</footer>

<style>
    #foot{
        background-color: var(--background-color);
       transition: background-color 0.8s ease;
    }
    :global(.dark) #foot span{
        transition: background-color 0.8 ease;
        color: white;
    }
    :global(.dark) #foot{
        background-color: var(--background-color-dark);
        transition: background-color 0.8 ease;
    }
    span{
        color: black;
    }
    a{
        text-decoration: none;
    }

</style>