---

---

<footer id="foot" class="m-4 rounded-lg shadow dark:bg-gray-900">
  <div class="mx-auto h-28 w-full max-w-screen-2xl p-12 md:py-10">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a href="" class="mb-4 flex items-center space-x-3 sm:mb-0 rtl:space-x-reverse">
        <img src="../../../public/logo.png" class="h-8" alt="CardioCare Logo" />
        <span class="self-center whitespace-nowrap text-2xl font-semibold">CARDIOCARE</span>
      </a>
      <ul
        class="mb-6 flex flex-wrap items-center text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        <li>
          <a href="#" class="me-4 hover:underline md:me-6">Sobre nosotros</a>
        </li>
        <li>
          <a href="#" class="me-4 hover:underline md:me-6">Políticas de Privacidad</a>
        </li>
        <li>
          <a href="#" class="me-4 hover:underline md:me-6">Licencias</a>
        </li>
        <li>
          <a href="#" class="hover:underline">Contacto</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8 dark:border-gray-700" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a href="" class="hover:underline">CardioCare™</a>. All Rights Reserved.</span
    >
  </div>
</footer>

<style>
  #foot {
    background-color: var(--background-color);
    transition: background-color 0.8s ease;
  }
  :global(.dark) #foot span {
    transition: background-color 0.8 ease;
    color: white;
  }
  :global(.dark) #foot {
    background-color: var(--background-color-dark);
    transition: background-color 0.8 ease;
  }
  span {
    color: black;
  }
  a {
    text-decoration: none;
  }
</style>
